@import "colors";
@import "mixins";

body {
  overflow-x: hidden;
}
.bg-container {
  width: 100%;
  height: 90vh;
  background-color: $darkBlue;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 52% 100%, 0 83%);
}
.nav-header {
  margin-top: 15px;
  ul {
    color: $white;
    @include flex-space;
    margin: 0px;
    padding: 0px;
    img {
      width: 100px;
    }
    h1 {
      margin-left: 10px;
    }
    li {
      list-style: none;
      ol {
        @include flex-center;
        margin: 0px;
        padding: 0px;
        li {
          list-style: none;
          a {
            padding-left: 15px;
            color: $yellow;
          }
        }
      }
    }
  }
}

.header-main-contents-container {
  color: white;
  margin-left: 11rem;
  img {
    width: 100%;
  }
  .braches-container {
    margin-top: 15px;
    .branches {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      row-gap: 10px;
      column-gap: 15px;
      .branch {
        color: $yellow;
        background-color: $lightBlue;
        padding: 10px;
        @include flex-center;
        text-transform: uppercase;
        font-size: 20px;
        clip-path: polygon(
          50% 0%,
          79% 0,
          100% 0,
          96% 55%,
          100% 100%,
          50% 100%,
          0 100%,
          4% 57%,
          0 0,
          37% 0
        );
      }
    }
  }
}

.about-container {
  margin-top: 8rem;
  height: 60vh;
  img {
    width: 100%;
  }
  h1 {
    font-family: cursive;
    margin-bottom: 5rem;
  }
  p {
    font-size: 16px;
  }
}

footer {
  color: $white;
  padding: 5rem;
  @include flex-center;
  background-color: $darkBlue;
}
.bg-dark-blue {
  background-color: $darkBlue;
}
.text-yellow {
  color: $yellow;
}
.home-buttons {
  margin-top: 5rem;
  text-align: center;
  button {
    background-color: $darkBlue;
    color: $white;
    &:hover {
      color: $yellow;
      background-color: $lightBlue;
    }
  }
}

@media (max-width: 764px) {
  .about-container {
    height: auto;
  }
  .header-main-contents-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}
