{% extends "base.html" %} {% load static %} {% block contents %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title text-primary">Total Branches</h5>
          <p class="mb-4">{{ branches|length }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title text-primary">Feedbacks</h5>
          <p class="mb-4">20</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-primary">Queue</h5>
        </div>
        <div class="col">
          <table>
            <tr>
              <td>
                <input
                  type="month"
                  class="form-control"
                  id="monthFilter"
                  onchange="fetchQueue('month')"
                />
              </td>
              <td>&nbsp;&nbsp;&nbsp;</td>
              <td>
                <input
                  type="date"
                  class="form-control"
                  id="dateFilter"
                  onchange="fetchQueue('date')"
                />
              </td>
              <td>&nbsp;&nbsp;&nbsp;</td>
              <td>
                <button class="btn btn-info" onclick="handlePrinter()">
                  <i class="bx bx-printer"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div id="queueDetails" class="mt-3">
        <div class="center-center">
          <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contents %} {% block scripts %}
<script>
  const queueDetails = $("#queueDetails");
  const monthFilter = $("#monthFilter");
  const dateFilter = $("#dateFilter");
  const ldl = `
  <div class="center-center"><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
  `;
  let bdsv = [];
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      const cookies = document.cookie.split(";");
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const getPostData = (type) => {
    if (type == "date") {
      if (dateFilter.val() != "") {
        monthFilter.val("");
        return {
          year: dateFilter.val().split("-")[0],
          month: dateFilter.val().split("-")[1],
          day: dateFilter.val().split("-")[2],
        };
      }
    } else if (type == "month") {
      if (monthFilter.val() != "") {
        dateFilter.val("");
        return {
          year: monthFilter.val().split("-")[0],
          month: monthFilter.val().split("-")[1],
        };
      }
    } else {
      if (monthFilter.val() != "") {
        dateFilter.val("");
        return {
          year: monthFilter.val().split("-")[0],
          month: monthFilter.val().split("-")[1],
        };
      }
    }
    return {};
  };
  const isServedBadly = (joined, leave) => {
    let leaveDate;
    if (leave != "-") {
      leaveDate = new Date(leave);
    } else {
      leaveDate = new Date();
    }
    const joinedDate = new Date(joined);
    const diffMs = leaveDate - joinedDate;
    const diffDays = Math.floor(diffMs / 86400000); // days
    const diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
    const diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);
    return diffMins > 5 ? true : false;
  };
  const calculateTwt = (joined, leave) => {
    let leaveDate;
    if (leave != "-") {
      leaveDate = new Date(leave);
    } else {
      leaveDate = new Date();
    }
    const joinedDate = new Date(joined);
    const diffMs = leaveDate - joinedDate;
    const diffDays = Math.floor(diffMs / 86400000); // days
    const diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
    const diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);
    const seconds = (leaveDate.getTime() - joinedDate.getTime()) / 1000;
    try {
      const diffSecs = new Date(seconds * 1000)?.toISOString().slice(11, 19);
      return (
        diffHrs + "h, " + diffMins + "m and " + diffSecs.split(":")[2] + "s"
      );
    } catch (error) {
      return diffHrs + "h, " + diffMins + "m and " + 0 + "s";
    }
  };
  const csrftoken = getCookie("csrftoken");
  const findPercentage = (a) => {
    return a.length > 0
      ? (((bdsv.length > 0 ? bdsv.length : 1) * 100) / a.length).toFixed(1)
      : 0;
  };
  const fetchQueue = (type = "auto") => {
    queueDetails.html(ldl);
    $.ajax({
      url: "/dashboard/api/queue/",
      headers: { "X-CSRFToken": csrftoken },
      method: "POST",
      data: getPostData(type),
      success: (data) => {
        bdsv = [];
        if (data.length > 0) {
          data.map((item, i) => {
            if (item.leaveTimeAndDate != "") {
              isServedBadly(item.joinedTimeAndDate, item.leaveTimeAndDate)
                ? bdsv.push(item.id)
                : null;
            }
          });
        }
        let output = `
          <div class="row">
            <div class="col-md-4">
              <div class="alert alert-info">
                <h4>${data.length}</h4>
                <p>Total Clients</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="alert alert-success">
                <h4>${
                  data.filter((item) => item.status == "served").length
                }</h4>
                <p>Total Served</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="alert alert-danger">
                <h4>${findPercentage(data)}%</h4>
                <p>Bad Service</p>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>#</th>
                <th>Client</th>
                <th>Date & Time</th>
                <th>Status</th>
                <th>Total Waiting time</th>

        `;
        data.map((item, i) => {
          output += `
          <tr>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
            i + 1
          }</td>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
            item.name
          }</td>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>
              ${new Date(item.joinedTimeAndDate).getDate()}-
              ${new Date(item.joinedTimeAndDate).getMonth() + 1}-
              ${new Date(item.joinedTimeAndDate).getFullYear()} 
              ${new Date(item.joinedTimeAndDate).getHours()}:${new Date(
            item.joinedTimeAndDate
          ).getMinutes()}:${new Date(item.joinedTimeAndDate).getSeconds()}
          </td>
          <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
            item.status
          }</td>
            <td class='${
              bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""
            }'>${calculateTwt(
            item.joinedTimeAndDate,
            item.leaveTimeAndDate
          )}</td>
            <tr>
          `;
        });
        output += `
          <div>
        </table>`;
        setTimeout(() => {
          queueDetails.html(output);
        }, 1000);
      },
    });
  };
  const handlePrinter = () => {
    if (monthFilter.val() != "") {
      const q =
        monthFilter.val().split("-")[1] + "_" + monthFilter.val().split("-")[0];
      window.location = "/dashboard/printer?q=" + q;
    } else if (dateFilter.val() != "") {
      const q =
        dateFilter.val().split("-")[2] +
        "_" +
        dateFilter.val().split("-")[1] +
        "_" +
        dateFilter.val().split("-")[0];
      window.location = "/dashboard/printer?q=" + q;
    } else {
      window.location = "/dashboard/printer?q=_";
    }
  };
  const fetchQueueSilent = (type = "auto") => {
    $.ajax({
      url: "/dashboard/api/queue/",
      headers: { "X-CSRFToken": csrftoken },
      method: "POST",
      data: getPostData(type),
      success: (data) => {
        bdsv = [];
        if (data.length > 0) {
          data.map((item, i) => {
            if (item.leaveTimeAndDate != "") {
              isServedBadly(item.joinedTimeAndDate, item.leaveTimeAndDate)
                ? bdsv.push(item.id)
                : null;
            }
          });
        }
        let output = `
          <div class="row">
            <div class="col-md-4">
              <div class="alert alert-info">
                <h4>${data.length}</h4>
                <p>Total Clients</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="alert alert-success">
                <h4>${
                  data.filter((item) => item.status == "served").length
                }</h4>
                <p>Total Served</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="alert alert-danger">
                <h4>${findPercentage(data)}%</h4>
                <p>Bad Service</p>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>#</th>
                <th>Client</th>
                <th>Date & Time</th>
                <th>Status</th>
                <th>Total Waiting time</th>

        `;
        data.map((item, i) => {
          output += `
          <tr>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
            i + 1
          }</td>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
            item.name
          }</td>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>
              ${new Date(item.joinedTimeAndDate).getDate()}-
              ${new Date(item.joinedTimeAndDate).getMonth() + 1}-
              ${new Date(item.joinedTimeAndDate).getFullYear()} 
              ${new Date(item.joinedTimeAndDate).getHours()}:${new Date(
            item.joinedTimeAndDate
          ).getMinutes()}:${new Date(item.joinedTimeAndDate).getSeconds()}
          </td>
          <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
            item.status
          }</td>
            <td class='${
              bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""
            }'>${calculateTwt(
            item.joinedTimeAndDate,
            item.leaveTimeAndDate
          )}</td>
            <tr>
          `;
        });
        output += `
          <div>
        </table>`;
        setTimeout(() => {
          queueDetails.html(output);
        }, 1000);
      },
    });
  };
  const rT = () => {
    if (dateFilter.val() != "") {
      const d = new Date();
      if (
        d.getFullYear() == dateFilter.val().split("-")[0] &&
        d.getMonth() + 1 == dateFilter.val().split("-")[1] &&
        d.getDate() == dateFilter.val().split("-")[2]
      ) {
        fetchQueueSilent("date");
      }
    }
  };
  $(document).ready(() => {
    fetchQueue();
  });
  setInterval(() => {
    rT();
  }, 5000);
</script>
{% endblock scripts %}
