{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Queue Tracker - Printer</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/fonts/boxicons.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/css/core.css'%}"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/css/theme-default.css'%}"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/css/pages/page-auth.css'%}"
    />
    <link rel="stylesheet" href="{% static 'css/ldl.css'%}" />
  </head>
  <body>
    <h1>Customer Queue Tracker Report</h1>
    <div id="queueDetails"></div>
  </body>
  <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/vendor/js/bootstrap.js'%}"></script>
  <script>
    const queueDetails = $("#queueDetails");
    const ldl = `
    <div class="center-center"><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>
    `;
    let bdsv = [];
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const validateDay = (v) => {
      const d = new Date();
      return v.trim() === "" ? d.getDate() : v;
    };
    const validateMonth = (v) => {
      const d = new Date();
      return v.trim() === "" ? d.getMonth() + 1 : v;
    };
    const validateYear = (v) => {
      const d = new Date();
      return v.trim() === "" ? d.getFullYear() : v;
    };

    const getPostData = () => {
      const url = window.location.href.split("q=");
      try {
        if (url.length > 0) {
          const q = url[1];
          const qDetails = q.split("_");
          console.log(qDetails);
          if (qDetails.length == 2) {
            return {
              month: validateMonth(qDetails[0]),
              year: validateYear(qDetails[1]),
            };
          }
          if (qDetails.length == 3) {
            return {
              year: validateYear(qDetails[2]),
              month: validateMonth(qDetails[1]),
              day: validateDay(qDetails[0]),
            };
          }
        }
      } catch (error) {
        return {};
      }
      return {};
    };
    const isServedBadly = (joined, leave) => {
      let leaveDate;
      if (leave != "-") {
        leaveDate = new Date(leave);
      } else {
        leaveDate = new Date();
      }
      const joinedDate = new Date(joined);
      const diffMs = leaveDate - joinedDate;
      const diffDays = Math.floor(diffMs / 86400000); // days
      const diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
      const diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);
      return diffMins > 5 ? true : false;
    };
    const calculateTwt = (joined, leave) => {
      let leaveDate;
      if (leave != "-") {
        leaveDate = new Date(leave);
      } else {
        leaveDate = new Date();
      }
      const joinedDate = new Date(joined);
      const diffMs = leaveDate - joinedDate;
      const diffDays = Math.floor(diffMs / 86400000); // days
      const diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
      const diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000);
      const seconds = (leaveDate.getTime() - joinedDate.getTime()) / 1000;
      try {
        const diffSecs = new Date(seconds * 1000)?.toISOString().slice(11, 19);
        return (
          diffHrs + "h, " + diffMins + "m and " + diffSecs.split(":")[2] + "s"
        );
      } catch (error) {
        return diffHrs + "h, " + diffMins + "m and " + 0 + "s";
      }
    };
    const csrftoken = getCookie("csrftoken");
    const findPercentage = (a) => {
      return a.length > 0
        ? (((bdsv.length > 0 ? bdsv.length : 1) * 100) / a.length).toFixed(1)
        : 0;
    };
    const fetchQueue = () => {
      queueDetails.html(ldl);
      $.ajax({
        url: "/dashboard/api/queue/",
        headers: { "X-CSRFToken": csrftoken },
        method: "POST",
        data: getPostData(),
        success: (data) => {
          bdsv = [];
          if (data.length > 0) {
            data.map((item, i) => {
              if (item.leaveTimeAndDate != "") {
                isServedBadly(item.joinedTimeAndDate, item.leaveTimeAndDate)
                  ? bdsv.push(item.id)
                  : null;
              }
            });
          }
          let output = `
          <div class="row">
            <div class="col">
              <div class="alert alert-info">
                <h4>${data.length}</h4>
                <p>Total Clients</p>
              </div>
            </div>
            <div class="col">
              <div class="alert alert-success">
                <h4>${
                  data.filter((item) => item.status == "served").length
                }</h4>
                <p>Total Served</p>
              </div>
            </div>
            <div class="col">
              <div class="alert alert-danger">
                <h4>${findPercentage(data)}%</h4>
                <p>Bad Service</p>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>#</th>
                <th>Client</th>
                <th>Date & Time</th>
                <th>Status</th>
                <th>Total Waiting time</th>

        `;
          data.map((item, i) => {
            output += `
          <tr>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
              i + 1
            }</td>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
              item.name
            }</td>
            <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>
              ${new Date(item.joinedTimeAndDate).getDate()}-
              ${new Date(item.joinedTimeAndDate).getMonth() + 1}-
              ${new Date(item.joinedTimeAndDate).getFullYear()} 
              ${new Date(item.joinedTimeAndDate).getHours()}:${new Date(
              item.joinedTimeAndDate
            ).getMinutes()}:${new Date(item.joinedTimeAndDate).getSeconds()}
          </td>
          <td class='${bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""}'>${
              item.status
            }</td>
            <td class='${
              bdsv.indexOf(item.id) != -1 ? "bg-dark" : ""
            }'>${calculateTwt(
              item.joinedTimeAndDate,
              item.leaveTimeAndDate
            )}</td>
            <tr>
          `;
          });
          output += `
          <div>
        </table>`;
          setTimeout(() => {
            queueDetails.html(output);
            print();
          }, 1000);
        },
      });
    };
    $(document).ready(() => {
      fetchQueue();
    });
  </script>
</html>
